<head>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<div class="face-snap-card" [ngClass]="{ snapped: isSnapped }">
    <img [src]="faceSnapItem.urlImage" alt="">
    <h2>{{faceSnapItem.title | uppercase}}</h2>
    <p>{{faceSnapItem.description}}</p>
    <p>snap créé le : {{faceSnapItem.createdDate | date:"dd-MMMM-YYYY à HH:mm"}}</p>
    @if (faceSnapItem.location) {
        <p>Lieux de prise : {{faceSnapItem.location}}</p>
    }
    @else{
        <p>Lieux de prise : non spécifié</p>
    }
    <p>
        <button (click)="onSnap()">{{textButtonMessage}}</button>
        <span [ngStyle]="{color: 'rgb(0, '+faceSnapItem.snapsNumber+',0)'}">🤳 <strong>{{faceSnapItem.snapsNumber}}</strong></span>
    </p>
</div>


